body{
 height: 100%; 
}

a{
    text-decoration: none;
    color: black;
}
body{
    font-family: Arial;
    background: url("../imagens/fundo.jpg");
    background-size: 100%;
}
img{
    width: 40px;
}
input{
    width: 80px;
    height: 15px;
    
    
}
#LOGO{
    position: relative;
    width: 400px;
    top: 60px;   
}
button{
    width: 90px;
    height:30px;
    color: black;
    font-size: larger;
    border-radius: 30px;
}

fieldset{
    font-weight: bold;
}
div{
    display: flex;
   
}
#tabela{
    width: 50%;
    border: 1px solid black;
}
th, #li, #li1, #li2, #li3, #li4, #li5, #li6,#li7,#li8, #li9, #li10, #li11,
#li12, #li13, #li14, #li15, #li16,#li17,#li18, #li19, #li20, #li21, #li22, #li23, #li24, #li25, #li26,#li27,#li28, #li29, #li30,
#li31, #li32, #li33, #li34, #li35, #li36,#li37,#li38, #li39, #li40, #li41, #li42, #li43, #li44, #li45, #li46,#li47,#li48, #li49,
#li50, #li51, #li52, #li53, #li54, #li55, #li56,#li57,#li58, #li59, #li60{
    border: 1px solid black;
    background-color: white;  
    text-align: center; 
}
